/* https://www.nordtheme.com/
 * https://github.com/arcticicestudio/nord/blob/develop/src/nord.css */
:host,
.sl-theme-snow-storm {
	/* TODO: THESE ARE COPIED FROM DEFAULT */
	--sl-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 6%);
	--sl-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
	--sl-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 12%);
	--sl-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 12%);
	--sl-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 12%);

	--sl-input-background-color: var(--sl-color-neutral-0);
	--sl-input-background-color-hover: var(--sl-input-background-color);
	--sl-input-background-color-focus: var(--sl-input-background-color);
	--sl-input-background-color-disabled: var(--sl-color-neutral-100);
	--sl-input-border-color: var(--sl-color-neutral-300);
	--sl-input-border-color-hover: var(--sl-color-neutral-400);
	--sl-input-border-color-focus: var(--sl-color-primary-500);
	--sl-input-border-color-disabled: var(--sl-color-neutral-300);
	--sl-input-border-width: 1px;

	--sl-overlay-background-color: hsl(240 3.8% 46.1% / 33%);
}
